html,
body {
  font-family: "Montserrat", sans-serif;
  @apply antialiased h-screen text-gray-900;
}

.wrapper {
  @apply relative min-h-full;
}

.active {
  @apply shadow-xl;
}

.active .nav-text {
  @apply underline;
}
