/* Large (lg) */
@media (min-width: 1024px) {
  nav .nav-button {
    @apply w-48;
  }

  .index-wrapper {
    @apply flex-row;
  }

  .index-content {
    @apply px-4;
  }

  .index-video {
    @apply h-64;
  }
}
