/* Medium (md) */
@media (min-width: 768px) {
  header {
    @apply h-32 flex-col;
  }

  .logo {
    @apply h-full w-1/3 mb-0 my-2;
  }

  nav {
    @apply w-2/3 justify-end;
  }

  .nav-button {
    @apply h-16 m-1 py-3 px-5;
  }

  footer {
    @apply flex-row;
  }

  .footer-section {
    @apply w-1/3;
  }

  .team-content {
    @apply flex flex-row;
  }

  .team-picture {
    @apply h-full mr-2;
  }

  .team-text {
    @apply w-full ml-2;
  }
}
