/* Extra Large (xl) */
@media (min-width: 1280px) {
  .team-wrapper {
    @apply flex-row flex-wrap;
  }

  .team-content {
    @apply w-1/2 px-4;
  }

  .team-content:nth-child(3) {
    @apply w-full;
  }

  .team-picture {
    height: fit-content !important;
  }
}
