@import "./main/base.pcss";
@import "./main/header.pcss";
@import "./main/section.pcss";
@import "./main/footer.pcss";

@import "./main/index.pcss";
@import "./main/team.pcss";

@import "./mobile/xl.pcss";
@import "./mobile/lg.pcss";
@import "./mobile/md.pcss";
@import "./mobile/sm.pcss";
